fastapi
uvicorn
python-dotenv
sqlalchemy
psycopg[binary]
pgvector
langchain-openai
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
PyPDF2
PyMuPDF
pytesseract
Pillow
opencv-python
alembic
fastembed
